body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 70px;
    margin-top: 1px;
    margin-bottom: 5%;

}
h2{
    font-size: 55px;
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
}

#play,
#difficulty{
    background-color: #636967; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px; /* Add vertical space between buttons */
}
#increment,
#incorrect,
#start {
    background-color: #636967; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px; /* Add vertical space between buttons */
}

#play{
    margin-right: 100px;
}

.container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Set a minimum height to ensure all content is visible */
  }


  .window {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    width: 800px;
    height: 600px;
}

.game_over {
    font-size: 50px;
    text-align: center;
    margin: 0;
    margin-top: -20px; /* Adjust this value to bring it closer to the top */
}

.score_text {
    font-size: 30px;
    text-align: center;
    margin-top: 10px; /* Adjust this value for spacing between "Game Over!" and "Your Score:" */
}


.flexContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Center children vertically */
    align-items: center;
    height: 100vh;

}

.header{
    text-align: center;
}