body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 48px;
}
h2{
    font-size: 40px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }