body{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 70px;
}
h2{
    font-size: 55px;
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Set a minimum height to ensure all content is visible */
  }